[submodule "zio-kafka"]
	path = zio-kafka
	url = https://github.com/Clover-Group/zio-kafka
[submodule "zio-parquet"]
	path = zio-parquet
	url = https://github.com/Clover-Group/zio-parquet
[submodule "zio-serdes"]
	path = zio-serdes
	url = https://github.com/Neurodyne/zio-serdes
[submodule "zio_front"]
	path = zio_front
	url = https://github.com/Clover-Group/zio_front
